.bundlesContainer{
    height: 100vh;
    width: 100%;
    background-image: url("../assets/main.jpeg");
    overflow-x: hidden; 
    background-size: cover;
    background-position-x: right;
    display: flex;
    flex-direction: column;
    
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    padding-right:45px ;
    padding-left: 45px ;
}

.hulu-logo{
    width: 60px;
    height: 60px;
}

.log-in > span {
    color: grey;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.bundles-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60%;
    gap: 20px;
    
    
    
}
.bundle > span {
    color:#00ED82;
    font-size: 12px;
    font-weight: bold;
}

.bundle > p {
    color: white;
    font-size: 18px;
    padding: 0 50px;
    text-align: center;
    font-weight: bold;
   
}

.bundle-img{
    width: 200px;
}

.bundle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 25%;
    height: 55%;
    margin-top: 90px ;
}

.bundle-button{
background-color: #00ED82;
padding: 10px 90px;
font-size: 14px;
font-weight: bold;
border-radius: 2px;
}

.terms{
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.terms > p {
    color: white;
    font-size: 14px;
    text-decoration: underline;
}

.intro{
    
    height: 20vw;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.intro > span{
    color: #00ED82;
    font-size: 12px;
}
.intro > h2{
    color: white;
    font-size: 38px;
}
.intro > p{
    color: white;
    font-size: 18px;
    padding: 0 220px;
    text-align: center;
}

.cards-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.card{
    position: relative;
}
.card > p{
    font-size: 12px;
}
.card > h3 {
    font-size: 20px;
}
.text-overlay{
    position: absolute;
    top:5%;
    left:3%;
}
.ad-ons{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 30px;
}

.ad-ons > p {
    font-size: 10px;
    color:#FFFFFF99;
    
}
.hulu-liveTv-container{
    
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.hulu-liveTv-container > span{
    font-size: 12px;
    color: #00ED82;
    font-weight: 600;
}
.hulu-liveTv-container > h2{
    font-size: 40px;
    
}
.hulu-liveTv-container > h3{
    font-size: 16px;
    text-align: center;
    padding: 0 300px;
}
.get-hulu{
    background-color: #00ED82;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
    border-radius: 5px;
}
.hulu-liveTv-container > p{
    font-size: 10px;
    color: #FFFFFF99;
    padding: 0 230px;
    text-align: center;
}
.hulu-liveTv-container > p > button {
    background-color: transparent;
    color: #FFFFFF99;
    font-size: 10px;
    text-decoration: underline;
}
.view-channels{
    background-color: transparent;
    text-transform: uppercase;
    text-decoration: underline;
    color: white;
}
.tabs{
    height: 130vh;
    width: 100%;
    background-image: url("../assets/sports-bg.jpeg");
    background-size: cover;
    /* display: flex;
    flex-direction: column; */
  }

.sports-tab{
    
    margin-left: 120px;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.sports-tab > span {
    font-size: 32px;
}

.sports-tab > p {
    font-size: 16px;
    padding-right: 280px;
}
.sports-tab > p > a {
    text-decoration: underline;
}

.networks-logos{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;

}

.net-logo{
    background-color: white;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}
.plans{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.plans-intro{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.plans-intro > h2 {
    font-size: 48px;
}
.plans-clarity{
    font-size: 18px;
    text-align: center;
}
.horizontal-line{
    height: 0.8px;
    background-color: #FFFFFF99;
    margin: 0px 150px;
}
/* .custom-line{
    height: 5px;
    border: 2px solid white;
} */
.plan-details{
    display: flex;
    height: 13vh;
    justify-content: space-between;
    align-items: center;
   margin: 0 150px;
   padding-right: 80px;
}

.padd-lft{
    padding-left: 260px;
}

.green-ticks-container{
    width: 35%;
    display: flex;
    justify-content: space-between;
}